body {
    font-family: 'Abel', sans-serif;
    background-color: #F0F0F0;
}

.container {
    background-color: #F0F0F0;
}

h1, h3, h4{
    font-family: 'Anton', sans-serif;
}

#nav-list a {
    display: inline-block;
    margin: 10px 12px;
}

#company{
    font-family: 'Abel', sans-serif;
}

ul{
    list-style: none;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

.logo{
    height: 100px;
    width: 100px;
    z-index: 2;
}

.stripe{
    background-color: white;
    height: 75px;
    width: 100%;
    z-index: 1;
}

#design{
    background-color: #e6563b;
}

#develop{
    background-color: #eb9d3a;
}

#support{
    background-color: #7cb06c;
}

#host{
    background-color: #00aba9;
}

#host, #support, #develop, #design{
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 50%;
    color: white;
}

