body {
    font-family: 'Abel', sans-serif;
    background-color: #F0F0F0;
}

.container {
    background-color: #F0F0F0;
}

ul{
    list-style: none;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}

